/* theme */

:root {
	--background: #222;
	--text-color: #eee;
	--shape-color: #eee;
}

body {
	background: var(--background);
	color: var(--text-color);
}

.polygon {
	color: var(--shape-color);
}

/* animations */

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes bouncing {
	from {
		transform: scale(0.9);
	}

	to {
		transform: scale(1.0);
	}
}

.spinning, .bouncing {
	display: inline-block;
	transform-origin: center;
}

.spinning {
	animation: spinning linear 30s;
}

.bouncing {
	animation: 1s bouncing infinite alternate ease-out;
}

/* layout */

body {
	margin: 0px;
}
